<div class="app-banner md:px-8 py-3 h-screen">
  <div class="logo sm:w-3 md:w-full flex align-items-center justify-content-between">
    <div>
      <img src="./assets/pizza-manager.png" alt="pizza manager logo" class="w-8">
    </div>
    <div class="flex gap-4 align-items-center">
      <i class="pi pi-whatsapp cursor-pointer"></i>
      <i class="pi pi-bell cursor-pointer"></i>
      <div class="flex align-items-center">
        <i class="pi pi-question-circle cursor-pointer"></i>
        <span class="mx-1 text-xs">Help</span>
      </div>
    </div>
  </div>
  
  <div class="grid">
    <ul class="list col-12 md:col-2 pl-0">
      <li *ngFor="let item of items" class="inline-block p-3">
        <a [routerLink]="item.routerLink" routerLinkActive="active" class="text-white no-underline p-2">
          <i [ngClass]="item.icon || ''"></i>
          <span class="mx-2">{{item.label}}</span>
        </a>
      </li>
    </ul>
    <div class="views col-12 md:col-10 min-h-screen overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
